%rebase base title="Admin Page"

    <h2>Cork - Administration page</h2>
    <p>Welcome {{current_user.username}}, your role is: {{current_user.role}},
    access time: {{current_user.session_accessed_time}}</p>
    <div id='commands'>
      <p>Create new user:</p>
      <form action="create_user" method="post">
          <p><label>Username</label> <input type="text" name="username" /></p>
          <p><label>Role</label> <input type="text" name="role" /></p>
          <p><label>Password</label> <input type="password" name="password" /></p>
          <button type="submit" > OK </button>
          <button type="button" class="close"> Cancel </button>
      </form>
      <br />
      <p>Delete user:</p>
      <form action="delete_user" method="post">
          <p><label>Username</label> <input type="text" name="username" /></p>
          <button type="submit" > OK </button>
          <button type="button" class="close"> Cancel </button>
      </form>
      <br />
      <p>Create new role:</p>
      <form action="create_role" method="post">
          <p><label>Role</label> <input type="text" name="role" /></p>
          <p><label>Level</label> <input type="text" name="level" /></p>
          <button type="submit" > OK </button>
          <button type="button" class="close"> Cancel </button>
      </form>
      <br />
      <p>Delete role:</p>
      <form action="delete_role" method="post">
          <p><label>Role</label> <input type="text" name="role" /></p>
          <button type="submit" > OK </button>
          <button type="button" class="close"> Cancel </button>
      </form>
    </div>
    <div id="users">
        <table>
            <tr><th>Username</th><th>Role</th><th>Email</th><th>Description</th></tr>
            %for u in users:
            <tr><td>{{u[0]}}</td><td>{{u[1]}}</td><td>{{u[2]}}</td><td>{{u[2]}}</td></tr>
            %end
        </table>
        <br/>
        <table>
            <tr><th>Role</th><th>Level</th></tr>
            %for r in roles:
            <tr><td>{{r[0]}}</td><td>{{r[1]}}</td></tr>
            %end
        </table>
        <p>(Reload page to refresh)</p>
    </div>


    <div id='status'><p>Ready.</p></div>
